<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }} | rootacc.es</title>
        <link rel="stylesheet" href="/style/post.css" />
    </head>
    <body>
        <nav><a href="/">Home</a></nav>
        {{ content }}
    </body>
    <footer>
        <p>Dyslexia-friendly font by <a href="http://adysfont.com/about/">Adys</a></p>
    </footer>
</html>