@font-face {
  font-family: ADYS;
  src: local(ADYS),
    url("/fonts/ADYS-Regular-V5-4.ttf") format("truetype"),
    url("/fonts/ADYS-Regular-V5-4.woff") format("woff"),
    url("/fonts/ADYS-Regular-V5-4.woff2") format("woff2");
  font-weight: normal;
}

nav {
  text-align: right;
  width: 100%;
}

body {
  margin: 1em;
  font-family: ADYS, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

.post {
  border: 3px solid #00929F;
  border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
}

@media (max-width: 800px) {
  body {
    margin: 0.5em;
  }

  .post {
    padding: 0.5em;
  }

  h1 {
    text-align: center;
  }
}