@font-face {
  font-family: "ADYS";
  src: local("ADYS"),
    url("./fonts/ADYS-Regular-V5-4.ttf") format("truetype");
  font-weight: normal;
}

nav {
    text-align: right;
    width: 100%;
}

body {
    border: 3px solid #00929F;
    border-radius: 1em;
    padding: 1em;
    font-family: "ADYS";
    font-size: 18px;
}